---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>{{ site.title }}</title>
    <link>{{ site.url }}</link>
    <description>{{ site.description }}</description>
    <language>{{ site.language }}</language>
    {% for post in collections.posts | head(20) %}
      <item>
        <title>{{ post.data.title }}</title>
        <link>{{ post.url | absoluteUrl(site.url) }}</link>
        <guid>{{ post.url | absoluteUrl(site.url) }}</guid>
        <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
        <description>{{ post.data.description }}</description>
      </item>
    {% endfor %}
  </channel>
</rss>
